/backend/*.log
/backend/.DS_Store
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/.fleet
/backend/.idea
/backend/.nova
/backend/.phpunit.cache
/backend/.vscode
/backend/.zed
/backend/auth.json
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/vendor
/backend_ide_helper.php
/backendHomestead.json
/backendHomestead.yaml
/backendThumbs.db
/stats-service/*.log
/stats-service/.DS_Store
/stats-service/.env
/stats-service/.env.backup
/stats-service/.env.production
/stats-service/.phpactor.json
/stats-service/.phpunit.result.cache
/stats-service/.fleet
/stats-service/.idea
/stats-service/.nova
/stats-service/node_modules
/stats-service/public/build
/frontend-react/node_modules